@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::selection {
      @apply bg-purple-300 text-gray-900;
    }
  }

  @keyframes gradient-text {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .animate-gradient-text {
    background-size: 200% 200%;
    animation: gradient-text 2s ease infinite alternate;
  }
  